{% extends "base.html" %}
{% load static %} 
{% block title %}Log Out{% endblock %} 

{% block content %}
{% if request.user.is_authenticated %}
<table style="margin:auto; width:40%">
    <tr>
        <td>
            <p><h2> Are you sure, You want to SIGN OUT</h2><p>
                <p style="margin:auto;width:60%">
                <a type="submit" class="btn btn-danger mt-3 me-5 ms-5" href="/accounts/dashboard/">No</a>
                <a type="submit" class="btn btn-success mt-3 ms-5" href="/accounts/logout/">Yes</a>
                </p>
        </td>
    </tr>
</table>

{% endif %}
{% endblock %}