{% extends "base.html" %}
{% load static %} 
{% block title %}Verification{% endblock %} 
{% load crispy_forms_tags %}
{% block content %}
{% if not request.user.is_authenticated %}

<table style="margin:auto; width:70%">
    <tr>
        <td>
            <h2 style="font-family:Arial">Confirm your OTP with Account No here: </h2>
            <form method="post" enctype="multipart/form-data" action='/accounts/verify/'>
                {% csrf_token %}
                 <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div style="flex: 1 1 45%;">{{ forms.Account | as_crispy_field }}</div>
                    <div style="flex: 1 1 45%;">{{ forms.otp | as_crispy_field }}</div>    
                     {% if messages %}
                {% for msg in messages %}
                    <div id="django-message" class="alert alert-{{ message.tags }}">
                    <p style="background-color: #a4361f; color: black; padding: 10px; border-radius: 5px;">
                    {{ msg }}
                </p>
                    </div>
                {% endfor %}
            {% endif %}   
                </div> 
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </div>
        </form>
        </td>
        <td>
            <img src="{% static 'images/logo.png' %}"/>
        </td>
    </tr>
</table>
{% endif %}
<script>
function text_color() {
    // Hide the button but keep its space
    document.getElementById("verify").style.color="blue";
  }
text_color();
</script>
{% endblock %}