{% extends "base.html" %}
{% load static %} 
{% block title %}Change Password{% endblock %} 
{% load crispy_forms_tags %}
{% block content %}
{% if request.user.is_authenticated %}

<table style="margin:auto; width:70%">
    <tr>
        <td>
            <img src="{% static 'images/logo.png' %}"/>
        </td>
        <td>
            <form method="post" enctype="multipart/form-data" action='/password/'>
                {% csrf_token %}
                 
                    <div style="flex: 1 1 45%;">{{ forms.pass1 | as_crispy_field }}</div>
                    <div style="flex: 1 1 45%;">{{ forms.pass2 | as_crispy_field }}</div>  
                    <div style="flex: 1 1 45%;">{{ forms.pass3 | as_crispy_field }}</div>  
                    <div style="flex: 1 1 45%;">{{ forms.Check | as_crispy_field }}</div>  
                     {% if messages %}
                {% for msg in messages %}
                    <div id="django-message" class="alert alert-{{ message.tags }}">
                    <p style="background-color: #a4361f; color: black; padding: 10px; border-radius: 5px;">
                    {{ msg }}
                </p>
                    </div>
                {% endfor %}
            {% endif %} 
                    <div style="display: flex; flex-wrap: wrap; gap: 20px;">  
                </div> 
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-primary mt-3">Change Password</button>
                </div>
        </form>
        </td>
    </tr>
</table>
<script src="{% static 'JavaScript/changepass.js' %}">
</script>
{% endif %}
<script>
function text_color() {
    // Hide the button but keep its space
    document.getElementById("setting").style.color="blue";
  }
text_color();
</script>
{% endblock %}