{% extends "base.html" %}
{% load static %} 
{% block title %}Profile{% endblock %} 
{% load crispy_forms_tags %}
{% block content %}
{% if request.user.is_authenticated %}
<table style="margin:auto; width:65%">
    <tr>
        <td>
            <p><h3 style="font-family:Arial;">Account No- {{id}}</h3></p>
            <h3 style="font-family:Arial;">Full Name- {{name}}</h3>
        </td>
    </tr>
    <tr>
        <td>
            <form method="post" enctype="multipart/form-data" action='/accounts/profile/'>
                {% csrf_token %}
                <p><h4 style="font-family:Arial;text-align:center;">Personal Information</h4></p> 
                  <div style="display: flex; flex-wrap: wrap; gap: 10px;">
                    <div style="flex: 1 1 45%;">{{ forms.first_name | as_crispy_field }}</div>  
                    <br>
                    <div style="flex: 1 1 45%;">{{ forms.last_name | as_crispy_field }}</div>
                    <br>
                    <div style="flex: 1 1 45%;">{{ forms.phone | as_crispy_field }}</div> 
                    <br>
                    <div style="flex: 1 1 45%;">{{ forms.email | as_crispy_field }}</div> 
                  </div> 
                 <div style="flex: 1 1 45%;">{{ forms.File | as_crispy_field }}</div> 
                 <h4 style="font-family:Arial;text-align:center;">Personal Address</h4>
                 <div style="display: flex; flex-wrap: wrap; gap: 10px;">
                    <div style="flex: 1 1 45%;">{{ forms.Country | as_crispy_field }}</div> 
                    <br>
                    <div style="flex: 1 1 45%;">{{ forms.city | as_crispy_field }}</div> 
                    <br>
                    <div style="flex: 1 1 45%;">{{ forms.Address | as_crispy_field }}</div> 
                    <br>
                    <div style="flex: 1 1 45%;">{{ forms.postal | as_crispy_field }}</div> 
                    <br>
                 </div>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-warning mt-3">Update Changes</button>
                </div>
            </form>
            </td>
        
    </tr>
    
</table>

{% endif %}
<script>
function text_color() {
    // Hide the button but keep its space
    document.getElementById("profile").style.color="blue";
  }
text_color();
</script>
{% endblock %}