{% extends "base.html" %}
{% load static %} 
{% block title %}Update Value{% endblock %} 
{% load crispy_forms_tags %}
{% block content %}
{% if request.user.is_authenticated %}

<table style="margin:auto; width:80%">
    <tr>
        <td>
            <img src="{% static 'images/logo.png' %}"/>
        </td>
        <td>
            <form method="post" enctype="multipart/form-data" action='/accounts/specific/'>
                {% csrf_token %}
                 <div style="display: flex; flex-wrap: wrap; gap: 20px;">
                    <div style="flex: 1 1 45%;">{{ forms.type | as_crispy_field }}</div>
                    <div style="flex: 1 1 45%;">{{ forms.Type | as_crispy_field }}</div>  
                    <div style="flex: 1 1 45%;">{{ forms.Specific | as_crispy_field }}</div>  
                    <div style="flex: 1 1 45%;">{{ forms.Amount | as_crispy_field }}</div>
                     {% if messages %}
                {% for msg in messages %}
                    <div id="django-message" class="alert alert-{{ message.tags }}">
                    <p style="background-color: #a4361f; color: black; padding: 10px; border-radius: 5px;">
                    {{ msg }}
                </p>
                    </div>
                {% endfor %}
            {% endif %}   
                </div> 
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-success mt-3">Update</button>
                </div>
        </form>
        </td>
    </tr>
</table>
{% endif %}
{% endblock %}