<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock %} </title>
    {% comment %} bootstrap er css file {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{% static "images/logo.png" %}">
</head>
<body class="p-3 mb-2 bg-body text-body">{% comment %} navigation bar add korar jonno {% endcomment %}
    <nav class="navbar navbar-expand-lg bg-body" style="font-family: 'Arial'">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="font-family: 'Lucida Calligraphy' ">📈 MyExpense</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" id="home">Home</a>
              </li>
              {% if not request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/accounts/verify/" id="verify">Verify</a>
              </li>
              {% endif %}
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/accounts/dashboard/" id="dash">Dash Board</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/profile/" id="profile">Profile</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="transaction">
                  Transaction
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/accounts/transaction/">Add Transaction</a></li>
                  <li><a class="dropdown-item" href="/accounts/transfer/">Fund Transfer</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="statement">
                  Statements
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/accounts/istatements/">Income Statements</a></li>
                  <li><a class="dropdown-item" href="/accounts/cstatements/">Cost Statements</a></li>
                  <li><a class="dropdown-item" href="/accounts/statements/">All Statements</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle me-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="setting">
                  Settings
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/password/">Change Password</a></li>
                  <li><a class="dropdown-item" href="/delete/">Delete Account</a></li>
                </ul>
              </li>
              <a type="button" class="btn btn-primary" href="/accounts/notifications/" id="noti">
                Notifications <span class="badge text-bg-secondary">{{ notify }}</span>
              </a>
              <li class="nav-item">
                <h4 class="nav-link ms-3 me-5">A/C- {{request.user.username}}</h4>
              </li>
              <div >
                {% if pic != ' ' %}
                <a href="/media/{{pic}}/" target="_blank">
                <img src="/media/{{ pic }}" alt="photo" style="width: 45px; height: 45px;" 
                class="rounded-circle object-fit-cover border border-3 border-white shadow"  
                /></a>
                {% else %}
                <img alt="photo" style="width: 45px; height: 45px;" 
                class="rounded-circle object-fit-cover border border-3 border-white shadow"  
                />
                {% endif %}
              </div>
              <a class="btn btn-outline-danger ms-5" type="submit" href="/accounts/Logout/">Sign Out</a>
          {% else %}
          <div   class="ms-5"></div>
          <div   class="ms-5"></div>
          <div   class="ms-5"></div>
          <div  class="ms-5"></div>
          <div  class="ms-5"></div>
          <div  class="ms-5"></div>
          <div  class="ms-5">
            <a id="signup" type="button" class="btn btn-outline-warning ms-5" href="/accounts/register/">Sign Up</a>
            <a id="signin" class="btn btn-outline-success ms-3" type="submit" href="/accounts/login/">Sign In</a>
          </div>
          {% endif %}
          </div>
        </div>
    </nav>
    
    {% block content %}{% endblock %}
    {% comment %} bootstrap er javascript file {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- JavaScript to auto-remove -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const message = document.getElementById('django-message');
        if (message) {
            setTimeout(() => {
                message.remove(); // Remove the message after delay
            }, 5000); // 5000ms = 5 seconds
        }
    });
</script>
    {% if request.user.is_authenticated %}
    <footer class="footer bg-success text-white mt-5 border-bottom border-2">
      <div class="container">
          <div class="row justify-content-center py-3">
              <div class="col-sm-8 text-center">
                  <p class="mb-0 font-weight-bold">
                      © {% now "Y" %} Modified by Adil RUET CSE
                  </p>
              </div>
          </div>
      </div>
    </footer>
    {% else %}
    {% include 'footer.html' %}
    {% endif %}
  </body>
</html>

